<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #030329;">
  <div class="container">
    <a class="navbar-brand" href="#">
      <a class="navbar-brand" href="#">Dev_Biblico</a>
      <!-- <img src="https://placeholder.pics/svg/150x50/888888/EEE/Logo" alt="..." height="36"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Devocionais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Livros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Relatórios</a>
        </li>
        <!-- <form class="d-flex">
          <button class="btn btn-outline-light" type="button" routerLink="/login">Login</button>
        </form> -->

      </ul>
    </div>
  </div>
</nav>

<!-- <div class="container">
  <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
</div> -->

<!-- <div class="container">
  <p-card>
    <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
</p-card>
</div> -->

<div class="container">
  <p-splitter [style]="{'height': '300px'}">
    <ng-template pTemplate>

      <p-card>
        Content
    </p-card>

    <p-card>
      Content
  </p-card>

  <p-card>
    Content
</p-card>

    </ng-template>
    <ng-template pTemplate>
      <p-card>
        Content
    </p-card>

    <p-card>
      Content
  </p-card>

  <p-card>
    Content
</p-card>

    </ng-template>
  </p-splitter>
</div>

<div class="container">
  <p-splitter [style]="{'height': '300px'}">
    <ng-template pTemplate>

      <p-card>
        Content
    </p-card>

    <p-card>
      Content
  </p-card>

  <p-card>
    Content
</p-card>

    </ng-template>
    <ng-template pTemplate>
      <p-card>
        Content
    </p-card>

    <p-card>
      Content
  </p-card>

  <p-card>
    Content
</p-card>

    </ng-template>
  </p-splitter>
</div>



