<app-navbar></app-navbar>

<div class="container" style="padding-top: 30px;">
  <h2 class="text-center">Apresentação</h2>
  <div class="card" style="background-color: #ffffff; border-radius: 1rem;">


    <p-card header="Simple Card" [style]="{'margin-bottom': '2em', 'text-align': 'center'}">
      <ng-template pTemplate="header">
          <!-- <img alt="Card" src="assets/showcase/images/usercard.png"> -->
      </ng-template>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
  </p-card>
  </div>



<hr>


<div class="container" style="padding-bottom: 10px;">
  <h2 class="text-center">Funcionalidades</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" >
      <p-card header="Simple Card" [style]="{'margin-bottom': '2em', 'text-align': 'center'}">
        <ng-template pTemplate="header">
            <!-- <img alt="Card" src="assets/showcase/images/usercard.png"> -->
        </ng-template>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
    </div>
    </div>

    <div class="col-sm">
      <div class="card" >
      <p-card header="Simple Card" [style]="{'margin-bottom': '2em', 'text-align': 'center'}">
        <ng-template pTemplate="header">
            <!-- <img alt="Card" src="assets/showcase/images/usercard.png"> -->
        </ng-template>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
      </div>
    </div>

    <!-- <div class="clearfix"></div> -->

    <div class="col-sm">
      <div class="card" >
      <p-card header="Simple Card" [style]="{'margin-bottom': '2em', 'text-align': 'center'}">
        <ng-template pTemplate="header">
            <!-- <img alt="Card" src="assets/showcase/images/usercard.png"> -->
        </ng-template>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
    </div>
    </div>
  </div>
</div>

<hr>

<div class="container" style="padding-bottom: 30px;">
  <h2 class="text-center">Sobre</h2>
  <div class="card" style="background-color: #ffffff; border-radius: 1rem;">
    <p-card header="Simple Card" [style]="{'margin-bottom': '2em', 'text-align': 'center'}">
      <ng-template pTemplate="header">
          <!-- <img alt="Card" src="assets/showcase/images/usercard.png"> -->
      </ng-template>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
  </p-card>
  </div>
</div>
</div>
<router-outlet></router-outlet>

<app-footer></app-footer>
