app-user-area {}

.input-email {
  width: 500px;
  margin-bottom: 5px;
  margin-right: 10px;
}


.label {
  display: block;
  padding-top: 5px;
}

.container {
  border-radius: 5px;
  margin-top: 10px;
  /*background: -webkit-gradient(linear, left top, right top, from(#CCCCCC), to(#000000))*/
  /*no-repeat;*/
}

.gropup-buttons {
  margin-bottom: 10px;
}

.button {
  margin-right: 10px;
}

.input-card-one-user {
  width: 500px;
  margin-bottom: 5px;
  margin-right: 10px;
}

