<app-navbar-admin xmlns="http://www.w3.org/1999/html"></app-navbar-admin>

<div class="container">


  <div class="p-grid">

    <div class="col-12 md:col-4">
      <h3>Filtro de Usuários</h3>
    </div>

    <div class="col-12 md:col-4 p-fluid">
      <span class="p-input-icon-right">
<!--        <i class="pi pi-search"></i>-->
        <label>Nome</label>
        <input pInputText type="text" placeholder="Nome"/>
      </span>
    </div>

    <div class="col-12 md:col-4">
      <span class="p-input-icon-right">
<!--        <i class="pi pi-search"></i>-->
        <label class="label">Email</label>
        <input pInputText type="text" placeholder="Email" class="input-email"/>
      </span>

      <span class="p-input-icon-right">
        <label style="display: block">Perfil</label>
         <p-dropdown [options]="profiles" [(ngModel)]="selectedProfile" optionLabel="name" placeholder="Perfil"
                     [style]="{'width':'300px', 'margin-bottom': '10px', 'margin-right': '10px'}">
         </p-dropdown>
      </span>
  </div>

    <div class="gropup-buttons">
      <p-button label="Pesquisar" icon="pi pi-search" iconPos="left" class="button"></p-button>
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="openNewUser()"></button>
    </div>

  <!--                  TABLE GRID                   -->
  <div class="p-grid">
    <div class="col-offset-12">

      <div class="card">

        <p-table #dt [value]="users" [rows]="10" [paginator]="true"
                 [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
                 [(selection)]="selectedUser" [rowHover]="true" dataKey="id"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [showCurrentPageReport]="true">

          <ng-template pTemplate="caption">
            <div class="flex align-items-right justify-content-between">
              <h5 class="m-0">Gerenciamento de Usuários</h5>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="username">Name
                <p-sortIcon field="username"></p-sortIcon>
              </th>
              <th pSortableColumn="email">Email
                <p-sortIcon field="email"></p-sortIcon>
              </th>
              <th pSortableColumn="role">Role
                <p-sortIcon field="role"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.role}}</td>
              <td>
                <button pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"
                        (click)="openEditUser()"
                        routerLink="/users/edit/{{ user.id }}">
                </button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteUser(user)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
<!--              In total there are {{user ? user.length : 0 }} users.-->
            </div>
          </ng-template>
        </p-table>
      </div>

      <!--                  FORMULÁRIO DE CADASTRO DE USUÁRIO (MODAL)                   -->

      <p-dialog [(visible)]="display" [style]="{width: '650px', height: '550px'}" header="User Details" [modal]="true"
                styleClass="p-fluid">
        <ng-template pTemplate="content">

          <div class="field">
            <label for="name">Nome</label>
            <input type="text" pInputText id="name" [(ngModel)]="user.username" />
<!--            <small class="p-error" *ngIf="submitted && !teste.nome">Name is required.</small>-->
          </div>

          <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText id="email" [(ngModel)]="user.email" />
<!--            <small class="p-error" *ngIf="submitted && !teste.email">Email is required.</small>-->
          </div>
          <div class="field">
            <label for="senha">Senha</label>
            <input type="text" pInputText id="senha" [(ngModel)]="user.password"/>
<!--            <small class="p-error" *ngIf="submitted && !teste.senha">Senha is required.</small>-->
          </div>

          <div class="field">
            <label>Perfil</label>
            <p-dropdown [options]="roles"
                        [(ngModel)]="user.role"
                        (onChange)="onChangeValueRole($event)"
                        optionLabel="name"
                        optionValue="name">
            </p-dropdown>
          </div>

        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                  (click)="closeNewUser()"></button>
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                  (click)="saveUser()"></button>
        </ng-template>
      </p-dialog>

      <!-- Modal de Sucesso de Cadastro ou Atualização do Usuário -->

      <p-dialog  position="top"  [(visible)]="sucessDialog" [style]="{width: '450px'}">
        <ng-template pTemplate="header">
          Sucess
        </ng-template>
        {{ user.id ? "Usuário Atualizado com sucesso!" : " Usuário Salvo com sucesso! "}}
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Ok" icon="pi pi-check" class="p-button-success" (click)="closeDialogSuccess()"></button>
        </ng-template>
      </p-dialog>

      <!-- Modal de Erro de Cadastro do Usuário -->

      <p-dialog  position="top"  [(visible)]="errorDialog" [style]="{width: '550px'}" *ngFor="let erro of errors">
        <ng-template pTemplate="header">
          Error
        </ng-template>
          {{ erro }}
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Ok" icon="pi pi-check" class="p-button-danger" (click)="closeDialogError()"></button>
        </ng-template>
      </p-dialog>

    </div>
  </div>
  </div>
</div>
