<app-navbar></app-navbar>

<section class="vh-100 gradient-custom background-found">
  <div class="container">
    <p-card [style]="{width: '460px', height: '350px'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header" style="color: red">
        <h1 class="title">Login</h1>
      </ng-template>
      <form #loginForm="ngForm" (submit)="onSubmit()">
        <div class="form-group">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText class="input" [(ngModel)]="username" name="username">
        <label for="float-input">Nome</label>
      </span>
          <span class="p-float-label btn-password">
            <input id="password" type="password" pInputText class="input" [(ngModel)]="password" name="password">
            <label for="float-input">Senha</label>
          </span>

          <p class="mb-0 text-center cadastro">Não tem conta?
            <a routerLink="/sub" class="text-dark-50 fw-bold" (click)="openNewUser()">
              Cadastre-se</a>
          </p>

          <div class="btn-login">
            <button pButton pRipple label="Login" class="p-button-primary btn-login" type="submit"></button>
          </div>
        </div>
      </form>
    </p-card>
  </div>

</section>

<!--                  FORMULÁRIO DE CADASTRO DE USUÁRIO (MODAL)                   -->

<p-dialog [(visible)]="display" [style]="{width: '650px', height: '420px'}" header="User Details" [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">

    <div class="field">
      <label for="name">Nome</label>
      <input type="text" pInputText id="name" [(ngModel)]="user.username"/>
      <!--            <small class="p-error" *ngIf="submitted && !teste.nome">Name is required.</small>-->
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input type="text" pInputText id="email" [(ngModel)]="user.email"/>
      <!--            <small class="p-error" *ngIf="submitted && !teste.email">Email is required.</small>-->
    </div>
    <div class="field">
      <label for="senha">Senha</label>
      <input type="text" pInputText id="senha" [(ngModel)]="user.password"/>
      <!--            <small class="p-error" *ngIf="submitted && !teste.senha">Senha is required.</small>-->
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="closeNewUser()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveUser()"></button>
  </ng-template>
</p-dialog>
